// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --font-body: "Inter";
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}

span.hanchor {
  opacity: 0.2;
}

h1 {
  font-weight: 700;
  font-size: 2em;
  line-height: 140%;
  margin-top: 1.5em;
}

h2 {
  font-weight: 500;
  font-size: 1.5em;
}

h3 {
  font-weight: 500;
  font-size: 1.2em;
}

.section-li {
  border-top: 1px solid var(--outlinegray);
  padding-top: 24px;
  padding-bottom: 24px;
  margin:0;
}

.section-li>.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
}

.section-li {
  & > .section {
      @media all and (max-width: 600px) {
        & .tags {
          display: flex;
        }
      }
    }
}

blockquote[class*=-callout]>p:first-child {
    margin-bottom: 0.5em;
}

blockquote[class*=-callout] {
    margin: 2em 0;
}

li {
  margin-top: 0.75em;
}

.singlePage {
    padding: 4em 8vw;
}